<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href={{ css_path }}/>
        <link rel="shortcut icon" href={{ icon_path }} type="image/x-icon">
        <title>Profile</title>
    </head>
    <body id="body">
        <header id="header">
            <a id="logo" href={{ site_url }}>
                <img id="site-logo" src={{ site_icon_path }} alt="Random Wallpapers" width="261" height="64"></a>
        </header>
        <main id="main">
            <header id="profile-header" class="own-profile">
                <a class="avatar">
                    <img src={{ avatar_path }} alt="Avatar"></a>
                <div id="user">
                    <h1 class="username"><a>Username</a></h1>
                </div>
            </header>
        </main>
    </body>
</html>